#app {
    margin: 3rem auto;
    width: 640px;
    padding: 1rem 2rem;
    background: #fafafa;
    box-shadow: 3px 3px 3px 0 rgba(black, .05);
    border-radius: 5px;
  }

  .title {
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin:-1rem -2rem 1rem;
    padding: 1rem 2rem;
    background: lightskyblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    text-align: center;
    overflow:hidden;
  }

.header .long, .header .short {
    margin-bottom: 10px;
    font-weight: 600;
}

.header .long {
    margin-right: 3.6%;
}

.header .short {
    text-align: center;
}

.header .short:nth-child(4) {
    margin-left: 0.5%;
}

.header .short:nth-child(5) {
    margin-left: 0.75%;
}

.header .short:last-child {
    margin-left: 0.5%;
}

  .items, .new-items {
    font-size: 0;
    position: relative;
  }

  .items + .items {
    margin-top: 2.25%;
  }

.long {
    width: 35%;
}

.short {
    width: 10%;
}

.long, .short {
   display: inline-block;
   margin: 0 2.25% 0 0;
}

.totals {
    color: rgba(black, .65);
    margin: 1.5rem -2rem;
    background:rgba(black, .075);
    border: 1px solid rgba(black, .15);
    border-left: 0;
    border-right: 0;
    padding: 1rem 2rem;
}

.totals .long {
    font-weight: 400;
    text-align: right;
  }

.totals .short {
    text-align: center;
  }

.totals .short:nth-child(2) {
    margin-left: 1.5%;
}

.totals .short:nth-child(3) {
    margin-left: 0.75%;
}

.totals .short:nth-child(4) {
    margin-left: 0.25%;
}

.totals .short:nth-child(5) {
    margin-left: 0.5%;
}

.totals .long, .totals .short {
    font-weight: 900;
    font-size: 2rem;
}

input {
    height: 30px;
    text-align: center;
}

input.long {
    text-align: left;
}

button {
    width: 20px;
    height: 20px;
    /* background-color: none; */
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
}