img {
    width: 50px;
    transition: .5s;
}

.shakeNo {
    animation: shakeNo 1s 1;
}

@keyframes shakeNo {
    0% { transform: rotate(0deg)}
    20% { transform: rotate(-45deg)}
    40% { transform: rotate(35deg)}
    60% { transform: rotate(-25deg)}
    80% { transform: rotate(15deg)}
    100% { transform: rotate(0deg)}
}