body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.chatContainer {
    background: lightgrey;
    height: 100vh;
    position: relative;
}

.message {
    padding: 10px 25px;
    border-radius: 20px;
    width: auto;
    box-sizing: border-box;
}

.message span {
    font-size: 12px;
    font-weight: 700;
}

.message p {
    width: auto;
}

.myMessage {
    background: white;
    text-align: right;
}

.botsMessage {
    background: lightseagreen;
}

.writeMessage {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.writeMessage input {
    width: calc(100% - 120px);
    height: 20px;
    border-radius: 25px;
    border: none;
}

.writeMessage button {
    width: 120px;
    border-radius: 25px;
    border: none;
    background-color: cyan;
}