body {
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100%;
}

#container {
    height: 200px;
    position: relative;
    top: 45vh;
    left: 45vw;
    margin: 0 auto;
}

/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
} */

button {
    border: 0.5px solid black;
    text-align: center;
    padding: 20px 100px;
}

button:hover {
    background-color: cyan;
    border: 0.5px solid black;
    border-radius: 2px;
}

.button-transformation {
    padding: 20px 20px;
    background-color: rgb(201, 151, 201);
    transition: padding 1s;
}

/* .button-right {
    transform: translateX(100px);
} */