.imgSlider {
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
    user-select: none;
}

.imgSlider .slidesContainer {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 40%;
    position: relative;
    overflow: hidden;
}

.imgSlider .slidesContainer figure {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .6s;
}

.imgSlider .slidesContainer figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
    -webkit-user-drag: none;
}

.buttons {
    text-align: center;
    margin-top: 25px;
}

.buttons button {
    width: 80px;
}

#playBtn {
    margin-left: 75px;
    margin-right: 75px;
}