<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To-do List</title>
</head>
<body>
    
    <div id="app">

        <input @keyup.enter="addTodo" type="text" id="newTodoInput" v-model="newTodoItem" placeholder="Add a to-do...">
        <button @click="addTodo">Add</button>

        <p v-if="!todoList[0]">There's nothing to do...</p>

        <ul>
            <li v-for="(todo, index) in todoList"> {{todo}} 
                <button @click="removeTodo(index)">X</button>
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>